.destaque{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-5xl) 0;
    background-color: var(--secundaria-bege);
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destaque-titulo{
    color: var(--primaria-coral);
    font-family: var(--font-sigmar);
    
}

.destaque-titulo > span {
    color: var(--tercaria-verde2);

}